<ion-header>
  <ion-toolbar>
    <ion-title>
    Map
    </ion-title>
  </ion-toolbar>
</ion-header>


    <ion-content>
        <ion-img src="/assets/slide1.jpg"></ion-img>
        <ion-card>
              <ion-title style="color: #2f69bf;"><iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d31111.68823400871!2d77.6352496!3d12.9102263!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1553056428082" width="100%" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe></ion-title>
            </ion-card>
            <ion-card>
                <ion-card-content>
                  <ion-card-title style="color: #2f69bf;">Client Review</ion-card-title>
                 <p>This is content, without any paragraph or header tags,
                  within an ion-card-content element.
                  This is content, without any paragraph or header tags,
                  within an ion-card-content element.</p>
                </ion-card-content>
              </ion-card>
       
  

</ion-content>