<ion-header>
  <ion-toolbar>
    <ion-title>
     Reach Us
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>

    
          <ion-img src="/assets/contactnew.jpg"></ion-img>
   
     
<ion-card>    

      <ion-card-header>
        <ion-header style="color: #2f69bf;"><h2>Feed Back</h2> </ion-header>
      </ion-card-header>
      <ion-item style="color: #444444;">
Name<br>
Email<br>
Address<br>
Contact number<br>
Message

      </ion-item>
      <ion-item style="color: #2f69bf;"><a href="https://docs.google.com/forms/d/17c7XIkj7kj8i1FvQrQVL7KIm0qWMKNVcdBe-Y9ck3o8/edit">Click on go on next new window</a></ion-item>
    
    </ion-card>
</ion-content>