<ion-header>
    <ion-toolbar>
      <ion-title>
        Project
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
        
      <ion-card>
            <ion-img src="/assets/slide1.jpg"></ion-img>
            <ion-title style="color: #2f69bf;padding: 10px">Project1</ion-title>
        </ion-card>
        <ion-card>
            <ion-img src="/assets/slide2.jpg"></ion-img>
            <ion-title style="color: #2f69bf;padding: 10px">Project2</ion-title>
        </ion-card>
        <ion-card>
            <ion-img src="/assets/slide3.jpg"></ion-img>
            <ion-title style="color: #2f69bf;padding: 10px">Project3</ion-title>
        </ion-card>
        <ion-card>
            <ion-img src="/assets/slide1.jpg"></ion-img>
            <ion-title style="color: #2f69bf;padding: 10px">Project4</ion-title>
        </ion-card>
        <ion-card>
            <ion-img src="/assets/slide2.jpg"></ion-img>
            <ion-title style="color: #2f69bf;padding: 10px">Project5</ion-title>
        </ion-card>
        <ion-card>
            <ion-img src="/assets/slide3.jpg"></ion-img>
            <ion-title style="color: #2f69bf;padding: 10px">Project6</ion-title>
        </ion-card>
  </ion-content>
  